{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

  <ul>
    {% for d in data %}
      <li>Titulo: {{ d.title }}</li>

    {% endfor %}
  </ul>


