<h2>{{ titulo }}</h2>
<p>{{ descripcion }}</p>
<hr/>

{% if data %}
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Ultimos 3 contenidos</div>
      <div class="panel-body">
        <p>Esta tabla muestra los ultimos 3 contenidos creados por el usuario logueado</p>
      </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
      <tbody>
      {% for d in data %}
        <tr>
          <td>{{ d.get('field').value }}</td>
          <td class="text-right">{{ d.get('field').value }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
